# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example

# Ansible
**/inventory.ini
!**/inventory.ini.example

# SSH keys
*.pem
*.key
terraform-ipssi
terraform-ipssi.pub
id_rsa
id_rsa.pub

# System
.DS_Store
