#!/bin/bash
set -eux

USER_NAME="${ssh_user}"
SSH_KEY='${ssh_public_key}'

if ! id "$USER_NAME" >/dev/null 2>&1; then
  useradd -m -s /bin/bash "$USER_NAME"
  usermod -aG sudo "$USER_NAME" || true
  echo "$USER_NAME ALL=(ALL) NOPASSWD:ALL" >/etc/sudoers.d/90-$USER_NAME
  chmod 440 /etc/sudoers.d/90-$USER_NAME
fi

USER_HOME=$(eval echo "~$USER_NAME")
mkdir -p "$USER_HOME/.ssh"
echo "$SSH_KEY" > "$USER_HOME/.ssh/authorized_keys"
chown -R "$USER_NAME:$USER_NAME" "$USER_HOME/.ssh"
chmod 700 "$USER_HOME/.ssh"
chmod 600 "$USER_HOME/.ssh/authorized_keys"
